a:is(:link, :active, :visited).active-page-link {
  color: #48115c;
  text-decoration: underline;
  cursor: default;
}

li.active-page-item {
  font-size: 40px;

  &:hover,
  &:focus {
    transform: none;
  }
}
